.header, .footer {
    width: 100%;
    clear: both;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin:  auto;
    width: fit-content;
    border-style: solid;
    padding: 15px;
}

label {
    display: block;
}

.name, .surname, .phone, .email, .sexo {
    width: 50%;
}

.name {
    float: left;
}

.surname {
    float: right;
}

.phone {
    float: left;
}

.email {
    float: right;
}

.sexo {
    float: left;
}

.button {
    clear: both;
    display: flex;
    margin: 0 auto;
}

.success, .error {
    text-align: center;
    display: none;
}

.success {
    color: green;
}

.error {
    color: red;
}